//
// Font Embeds
// ---------------------------

// example:
// @font-face {
//     font-family: 'CircularStd-Black';
//     src: url('../fonts/CircularStd-Black.eot'); // ie8 hack
//     src: url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/CircularStd-Black.woff') format('woff'),
//          url('../fonts/CircularStd-Black.ttf') format('truetype'),
//          url('../fonts/CircularStd-Black.svg#CircularStd-Black') format('svg');
//     font-weight: normal !important;
//     font-style: normal;
// }

@font-face {
  font-family: 'Serif Gothic Black';
  src: url('../fonts/SerifGothicStd-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SerifGothicStd-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SerifGothicStd-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/SerifGothicStd-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SerifGothicStd-Black.svg#d1142223959fe1f8fc768288e2c320be') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Serif Gothic Extra Bold';
  src: url('../fonts/SerifGothicStd-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SerifGothicStd-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SerifGothicStd-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/SerifGothicStd-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SerifGothicStd-ExtraBold.svg#d1142223959fe1f8fc768288e2c320be') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'Futura Book';
  src: url('../fonts/FuturaLTPro-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/FuturaLTPro-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/FuturaLTPro-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/FuturaLTPro-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/FuturaLTPro-Book.svg#d1142223959fe1f8fc768288e2c320be') format('svg'); /* Legacy iOS */
       
  font-style:   normal; 
  font-weight:  normal;
}