//
// Typography
// ---------------------------

// Links
// ------
a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
        color: $linkColorHover;
        text-decoration: none;
    }
    &:link  {
        text-decoration: none;
    }
    &:visited   {
        text-decoration: none;
    }
    &:active    {
        text-decoration: none;
    }
}

// Body text
// ----------
p { margin: 0 0 $baseLineHeight / 2; }


// Emphasis & Misc
// -----------------
em { font-style: italic; }
cite { font-style: normal; }


// Headings
// ---------
h1, h2, h3, h4, h5, h6 {
    margin: ($baseLineHeight / 2) 0;
    font-weight: $headingsFontWeight;
    font-family: $headingsFontFamily;
    line-height: 1.5;
    color: $headingsColor;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
    text-transform: uppercase;
}
h1 { font-size: 15.0em; }
h2 { font-size: 9.0em; }
h3 { font-size: 2.0em; letter-spacing: 5px;}
h4 { font-size: 1.6em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.2em; }
