//
// Typography
// ---------------------------

// Links
// ------
a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
        color: $linkColorHover;
        text-decoration: none;
    }
    &:link  {
        text-decoration: none;
    }
    &:visited   {
        text-decoration: none;
    }
    &:active    {
        text-decoration: none;
    }
}

// Body text
// ----------
p { margin: 0 0 $baseLineHeight / 2; }


// Emphasis & Misc
// -----------------
em { font-style: italic; }
cite { font-style: normal; }


// Headings
// ---------
h1, h2, h3, h4, h5, h6 {
    margin: ($baseLineHeight / 1.5) 0;
 //   font-weight: $headingsFontWeight;
    line-height: 1.5;
    color: $headingsColor;
    text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1 { 
    font-family: $serifGothicBlack;
    font-size: 60px;
    letter-spacing: 1px; 
    line-height: 1.2;
    text-transform: uppercase;
}
h2 { 
    font-family: $serifGothic;
    font-size: 9.0em; 
}
h3 { 
    font-family: $serifGothic;
    font-size: 16px; 
    letter-spacing: 4px;
    text-transform: uppercase;
}
h4 { 
    font-family: $serifGothic;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
h5 { 

    font-size: 12;
    font-family: $sansFutura;
 }
h6 { 
    text-transform: uppercase;
    font-family: $sansFutura;
    font-size: 12px; 
    letter-spacing: 2px;
}
