//
// Page: Home
// ---------------------------
.content-wrapper-home {
	text-align: center;
}

.masthead-wrapper-home {
	margin-top: -85px;
	z-index: 0;
	width: 100%;
	margin: 0 auto 0 auto;
	.masthead-desktop {
		display: none;
	}
	.masthead-mobile {
	}
}