.region-main-hotel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.content-wrapper-hotel_ace {
	padding-top: 250px;
	padding-bottom: 250px;
	background-image: url("../images/ace_hotel.jpg");
}

.content-wrapper-hotel_laac {
	background-image: url("../images/laac_hotel.jpg");
}

.content-wrapper-hotel_standard {
	background-image: url("../images/standard_hotel.jpg");
}

.content-wrapper-hotel_miyako {
	background-image: url("../images/miyako_hotel.jpg");
}

.content-wrapper-hotel_line {
	background-image: url("../images/line_hotel.jpg");
}

.copy-block-hotel {
	text-align: center;
	font-size: 16px;
	line-height: 1.6;
	margin: 65px auto 0 auto;
	width: 90%;
}
