.region-main-photos {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.content-wrapper-photos {
	padding-top: 150px;
	margin: 0 auto 0 auto;
	text-align: center;
}

.copy-block-photos {
	text-align: center;
	line-height: 1.6;
	margin: 40px auto 0 auto;
	width: 90%;
}

.photos-img {
	margin: 0 auto 0 auto;
	text-align: center;
}