.region-main-registry {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.content-wrapper-registry {
	padding-top: 150px;
	margin: 0 auto 0 auto;
	text-align: center;
}

.copy-block-registry {
	text-align: center;
	font-size: 16px;
	line-height: 1.6;
	margin: 285px auto 0 auto;
	width: 450px;
}
