//
// 600 Breakpoint
// ---------------------------
h1 {
	font-size: 90px;
}

.masthead-wrapper-home {
	margin-top: -85px;
	z-index: 0;

	.masthead-desktop {
		display: none;
	}
	.masthead-mobile {
		width: 100%;
	}
}

.cbp-mc-column {
	margin-top: 30px;
	width: 100%;
}
.cbp-mc-column:nth-child(3) {
	width: 100%;
}