//
// 600 Breakpoint
// ---------------------------
.masthead-wrapper {
	z-index: 0;
	width: auto;
	.masthead-mobile {
		display: block;
	}
}

.content-wrapper {
	text-align: center;
	margin-top: -20px;
}

h1 {
	font-size: 90px;
}