//
// 600 Breakpoint
// ---------------------------
h1 {
	font-size: 80px;
}

h3 {
	font-size: 20px;
	line-height: 1.6;
}

.masthead-wrapper-home {
	margin-top: -85px;
	z-index: 0;

	.masthead-desktop {
		display: none;
	}
	.masthead-mobile {
		width: 100%;
	}
}

.cbp-mc-column {
	margin-top: 30px;
	width: 100%;
}
.cbp-mc-column:nth-child(3) {
	width: 100%;
}

.copy-block-venue {
	width: 450px;
}

.copy-block-hotel {
	width: 450px;
}

.copy-block-rsvp {
	width: 450px;
}

.copy-block-registry {
	width: 450px;
}