//
// 768 Breakpoint
// ---------------------------
header {
    min-height: 90px;
    position: absolute;
    width: 100%;
    background-color: transparent;
	

	nav {

	}

	ul	{
		position: relative;
		margin-top: 15px;
		padding: 0;
		opacity: 1;
	}

	li  {
		float: left;
		font-size: 12px;
		letter-spacing: 1.5px;
		margin-left: 60px;
		margin-top: 40px;
	}

	.btn-rsvp {
		margin-top: 25px;
		margin-bottom: 45px;
		margin-right: 60px;
		float: right;

	}

	.btn-hamburger {
    	display: none;
    }
}

.masthead-wrapper-home {
	z-index: 0;
	width: auto;
	.masthead-mobile {
		display: none;
	}
	.masthead-desktop {
		padding-top: 45px;
		display: block;
	}

}

.content-wrapper-home{
	margin-top: -70px;
}

h3 {
	font-size: 24px;
	line-height: 1.5;
}

.region-main-venue {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}

.cbp-mc-column {
	width: 50%;
}
.cbp-mc-column:nth-child(3) {
	width: 100%;
}
