//
// 768 Breakpoint
// ---------------------------
header {
	padding-top: 0px;
    min-height: 90px;
    position: absolute;
    width: 100%;
    background-color: transparent;
	

	nav {

	}

	ul	{
		position: relative;
		margin-top: 0px;
		padding: 0;
		opacity: 1;
	}

	li  {
		float: left;
		font-size: 10px;
		letter-spacing: 1.5px;
		margin-left: 60px;
		margin-top: 40px;
	}

	.btn-rsvp {
		margin-top: 25px;
		margin-bottom: 45px;
		margin-right: 60px;
		float: right;
		font-size: 10px;

	}

	.btn-hamburger {
    	display: none;
    }
}

.masthead-wrapper-home {
	z-index: 0;
	margin-top: 0px;
	width: auto;
	.masthead-mobile {
		display: none;
	}
	.masthead-desktop {
		display: block;
	}
}

.content-wrapper-home{
	margin-top: -70px;
}

.content-wrapper-registry {
	padding-top: 250px;
}

.content-wrapper-photos {
	padding-top: 250px;
}

.content-wrapper-rsvp {
	padding-top: 250px;
}

.cbp-mc-column {
	margin-top: 30px;
	width: 40%;
}
.cbp-mc-column:nth-child(3) {
	width: 100%;
}

.photos-img {
	margin-top: 100px;
}


