<div id="region-main-hotel">
		<div class="content-wrapper-hotel_ace">
		<h1>Ace Hotel</h1>
		<h4>929 SOUTH BROADWAY<br>
		LOS ANGELES, CA 90015</h4><br>
		1.7 Miles to the venue<br>
		<a class="btn btn-square btn-main" href="http://www.acehotel.com/losangeles/" target="_blank">VISIT SITE</a>
	</div>
	<div class="content-wrapper-hotel_laac">
		<h1>LAAC</h1>
		<h4>431 West Seventh Street<br>
		Los Angeles, CA 90014</h4><br>
		1.5 Miles to the venue<br>
		<a class="btn btn-square btn-main" href="http://www.laachotel.com/" target="_blank">VISIT SITE</a>
	</div>
	<div class="content-wrapper-hotel_standard">
		<h1>The  Standard</h1>
		<h4>550 South Flower Street<br>
		Los Angeles, CA 90071</h4><br>
		1.7 Miles to the venue<br>
		<a class="btn btn-square btn-main" href="http://www.standardhotels.com/la/properties/downtown-la/" target="_blank">VISIT SITE</a>
	</div>
	<div class="content-wrapper-hotel_miyako">
		<h1>Miyako</h1>
		<h4>328 E. First Street<br>
		Los Angeles, CA 90012</h4><br>
		.5 Miles to the venue<br>
		<a class="btn btn-square btn-main" href="http://www.thelinehotel.com/" target="_blank">VISIT SITE</a>
	</div>
	<div class="content-wrapper-hotel_line">
		<h1>The Line</h1>
		<h4>3515 WILSHIRE BLVD<br>
		LOS ANGELES, CA 90010</h4><br>
		4.4 Miles to the venue<br>
		<a class="btn btn-square btn-main" href="http://www.miyakoinn.com/" target="_blank">VISIT SITE</a>
	</div>
	<div class="copy-block-hotel">We recomend these hotels but any downtown LA Hotel or Airbnb will be convenient to the venue. If you have any location questions feel free to email us.
	</div>
</div>