<div class="masthead-wrapper-home">
	<img class="masthead-desktop" src="../images/savethedate_marquee@2x.png" />
	<img class="masthead-mobile"  src="../images/savethedate_marquee@2x_mobile.png" />
</div>
<div class="content-wrapper-home">
	<h3>Drew & Erin are getting married<br/>
	Los Angeles • 6/18/2016</h3>
	<a class="btn btn-square btn-main" href="/rsvp/">RSVP</a>
</div>