<div class="masthead-wrapper">
	<img src="../images/savethedate_marquee@2x.png" />
</div>
<div class="content-wrapper">
	<h3>Drew & Erin are getting married
	<p>Los Angeles • 6/18/2016</p></h3>
	<a class="btn btn-square btn-main" href="huntleywedding.com/rsvp">RSVP</a>
</div>