<div class="masthead-wrapper-home">
	<img class="masthead-desktop" src="../images/savethedate_marquee@2x.jpg" />
	<img class="masthead-mobile"  src="../images/savethedate_marquee@2x_mobile.png" />
</div>
<div class="content-wrapper-home">
	<h3>Drew & Erin are getting married<br/>
	Los Angeles • 6/18/2016</h3>
	<br>6:30 in the Evening
	<br>
</div>