<div id="region-main-photos">
	<div class="masthead-wrapper-photos">
	</div>
	<div class="content-wrapper-photos">
		<h1>Photos</h1>
		<div class="copy-block-photos"><p>Gifts are not necessary, but if you would like to send us a gift, please consider contributing to our honeymoon fund.</p>
		<a class="btn btn-square btn-main" href="http://honeyfund.com/wedding/HuntleyWedding2016" target="_blank">HONEYFUND WEBSITE</a>
	</div>
</div>