<div id="region-main-rsvp">
	<div class="masthead-wrapper-rsvp">
	</div>
	<div class="content-wrapper-rsvp">
		<h1>RSVP</h1>
	<h4>LOS ANGELES • 6/18/2016</h4>
	Specific time TBA
	<form class="cbp-mc-form">
	<div class="cbp-mc-column">
		<h6><label for="first_name">First Name</label></h6>
		<input type="text" id="first_name" name="first_name">
		<h6><label for="last_name">Last Name</label></h6>
		<input type="text" id="last_name" name="last_name">
		<h6><label for="email">Email Address</label></h6>
		<input type="text" id="email" name="email">
		<h6><label for="attending">Are You Attending?</label></h6>
		<select id="attending" name="attending">
			<option>Yes</option>
			<option>No</option>
		</select>
		<h6><label for="plus_one">Who's Coming With You?</label></h6>
		<input type="text" id="plus_one" name="plus_one" placeholder="Plus One's Name">
	</div>
	<div class="copy-block-rsvp">Note - Our venue is not child-friendly. Please make arrangements for anyone under the age of 10.
	</div>
	<div class="cbp-mc-submit-wrap"><a class="btn btn-square btn-main">RSVP</a></div>
</form>
	</div>
</div>