<div id="region-main">
	<div class="masthead-wrapper-rsvp">
		<img class="masthead-rsvp" src="../images/marquee_registry.jpg" />
	</div>
	<div class="content-wrapper-rsvp">
		<h1>RSVP</h1>
	<form class="cbp-mc-form">
	<div class="cbp-mc-column">
		<h4><label for="first_name">First Name</label></h4>
		<input type="text" id="first_name" name="first_name">
		<h4><label for="last_name">Last Name</label></h4>
		<input type="text" id="last_name" name="last_name">
		<h4><label for="email">Email Address</label></h4>
		<input type="text" id="email" name="email">
		<h4><label for="attending">Are You Attending?</label></h4>
		<select id="attending" name="attending">
			<option>Yes</option>
			<option>No</option>
		<br>
		<h4><label for="first_name">First Name</label>
		<input type="text" id="first_name" name="first_name" placeholder="Jonathan">
		</select></h4>
	</div>
	<div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" value="Send your data" /></div>
</form>
	</div>
</div>