<div id="region-main">
	<div class="masthead-wrapper-rsvp">
		<img class="masthead-rsvp" src="../images/marquee_registry.jpg" />
	</div>
	<div class="content-wrapper-rsvp">
		<h1>RSVP</h1>
		<h4>Derp</h4>
	</div>
</div>