<div id="region-main-venue">
	<div class="content-wrapper-venue">
		<h1>Millwick</h1>
		<h4>800 E 4TH PLACE<br>
		LOS ANGELES, CA 90013</h4>
		<a class="btn btn-square btn-main" href="http://marvimon.com/millwick" target="_blank">VISIT SITE</a>
	</div>
	<div class="copy-block-venue">Millwick is a beautiful warehouse space located in the heart of the Arts District in Downtown LA. There are many hotels nearby and it is easily accessible via public transit.
	</div>
</div>
