//
// Buttons
// ---------------------------

button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 12px;
}

.btn {
    display: inline-block;
    font: $sansFutura;

    &:hover {}

    &:focus {}

    &.active,
    &:active {}

    &.disabled,
    &[disabled] {}

    &.btn-square {
        color: $brightOrange;
        font-size: 10px;
        letter-spacing: 1.5px;
        padding: 10px 30px 10px 30px;
        border: solid $brightOrange 2px;
        text-decoration: none;
        &:hover {
            transition: opacity 0.3s $easeDefault;
            background: $brightOrange;
            text-decoration: none;
            border: solid $brightOrange 2px;
            color: $blueDark;
            letter-spacing: 1.5px;
        }
    }
    &.btn-main {
        color: $brightOrange;
        font-size: 10px;
        letter-spacing: 1.5px;
        padding: 15px 75px 15px 75px;
        text-decoration: none;
        margin-top: 40px;
        &:hover {
            transition: opacity .3s $easeDefault;
            background: $brightOrange;
            text-decoration: none;
            border: solid $brightOrange 2px;
            color: $blueDark;
            letter-spacing: 1.5px;
        }
    }
}
