header {
	overflow: auto;
	position: relative;
	z-index: 1;
	display: block;
	align:center;
	background-color: $blueDark;

	h1 {
		 color: $lightYellow;
	}

	nav {

	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li  {
		text-align: center;
		font-size: 12px;
		letter-spacing: 3px;
		margin-top: 45px;
	}

	.btn-rsvp {
		margin-top: 33px;
		margin-bottom: 45px;
	}

	a   {
		color: $lightYellow;
	}

}