button:focus {outline:0;}

header {
	display: block;
	min-height: 90px;
	text-align:center;
	background-color: $blueDark;
	z-index: 100;

	h1 {
		 color: $lightYellow;
	}

	nav {

	}

	ul {
		position: absolute;
		width: 100%;
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		background-color: rgba($blueDark, 0.9);
		opacity: 0;
		transition: opacity 0.3s $easeDefault;
		z-index: 100;
		&.is-open {
			opacity: 1;
		}
	}

	li  {
		text-align: center;
		font-size: 12px;
		letter-spacing: 3px;
		margin-top: 45px;
	}

	.btn-rsvp {
		margin-top: 30px;
		margin-bottom: 60px;
	}

	a.link   {
		color: $lightYellow;
	}

	a.hover {
		color: $linkColorHover;
	}

	a.active {
		color: $linkColorActive;
	}

	.btn-hamburger {
    	display: block;
    	position: absolute;
    	top:30px;
    	width: 80px;
    	height: 52px;
    	right: 10px;
		background-image: url('../images/hamburger.svg');
		background-repeat: no-repeat;
		text-indent: -999rem;
		z-index: 100;
		&.is-open {
			background-image: url('../images/close.svg');
			width: 80px;
			height: 52px;
			right: 10px;
		}
		&:focus {
			outline: none;
		}
	}

}